/**
  * File:    secrets.h
  *
  *   Copyright (c) 2021, Georgios Sokianos
  *
  *   This file is part of MediaVault
  *
  * Author:   Georgios Sokianos (walkero@gmail.com)
  * Date:     September 2021
  *
  * Summary of File:
  *
  *   This file contains secret codes for connection
  *   with online service APIs
  *
  */

#ifndef _SECRETS_H
#define _SECRETS_H

#define PODCASTINDEX_KEY    "api key from podcastindex.org"
#define PODCASTINDEX_SECRET "secret key from podcastindex.org"

#endif
